/*-- scss:defaults --*/

// Import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$dark-green: #4C956C;
$peach: #FCD0A1;
$sky-blue: #AFD2E9;
$eggshell: #fdf6e3;
$violet: #DBBBF5;
$light-green: #B9E3C6;
$pale-yellow: #F5D491;

// Quarto sass variables
$body-bg: $eggshell;
$navbar-bg: $sky-blue;
$navbar-fg: $dark-green;
$navbar-hl: $light-green;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-weight-base: 250;

/*-- scss:rules --*/

// Global font style
body, p, span, a, li, div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 0.3px;
}

// Headings slightly bolder for contrast
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; // not too bold
  letter-spacing: 1px;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.title {
  color: maroon;
}

.center-text {
  text-align: center;
}

.dark-green-text {
  color: $dark-green;
}

.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

